# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]

.DS_Store
.env

# Distribution / packaging
.Python
env/
/virtualenv/
build/
develop-eggs/
dist/
downloads/
eggs/
/lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
bin/
include/
man/
share/
src/
ChangeLog
LICENSE
README
htmlcov/
.coverage
tests/.cache/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json

# IDE
.idea/
.cache/