# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.DS_Store
.env
.python-version

# Distribution / packaging
.Python
env/
/virtualenv/
build/
develop-eggs/
dist/
downloads/
eggs/
/lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
bin/
include/
man/
share/
src/
ChangeLog
LICENSE
README
htmlcov/
.coverage
tests/.cache/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json

#IDE
.idea/
.cache/